page-location {

.toolbar-title{color:#02a499;font-size: 15px !important; font-weight: normal; text-transform: uppercase;}
.back-button{color:#02a499;}
	.location{
	h1{
	 color: #8d8d8d;
    font-size: 15px;
    
    font-weight: normal;
	}

	p{font-size: 13px;
    line-height: 18px;
    color: #8d8d8d;}

	}
}
