page-reviews {
.header-title{
        margin-right: 40px;
    }
.toolbar-title{
    color:#02a499;
    font-size: 15px !important; 
     font-weight: bold; 
 text-transform: uppercase;
 width:100%;
 text-align:center;
}
.back-button{color:#02a499;}
ion-navbar{
		.back-button{
			display:none !important;
		}
		.toolbar-content{
			ion-icon{
				width: 44px;
				display: inline-block;
				height: 32px;
				float: left;
				line-height: 32px;
				text-align: center;
				color: #02a499;
			}
			ion-title{
				line-height: 32px;
			}
		}
}
.star{
	    text-align: center;
	
	.ion-md-star:before,.ion-ios-star:before,{
		    color: #eaa236;
	}
}

.starbottom
{  text-align: center;
    padding: 16px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
	p{color: #000000;    width: 62%;
    margin: 20px auto;}
	background-color: #f2f2f2;
	.whtsapp{
	 margin: 20px 0;
	button{
    border-width: 1px;
    border-style: solid;
    border-color: #b1aeae;
    color: #000000;
    text-transform: capitalize;
    background-color: transparent;
   
    box-shadow: none;
    width: 47%;
    padding: 0;
    height: 2.6rem;
    border-radius: 0px;
	}
	}
}

}
