page-profile {

.toolbar-title{color:#02a499;font-size: 15px !important; font-weight: normal; text-transform: uppercase;}
.back-button{color:#02a499;}
.toolbar-background {
   background: #00857c;

}
ion-header{z-index: unset;}
label{color:#fff;}
.toolbar-title{color:#fff;font-size: 16px;}
.back-button{color:#fff;}
.profilebx{
	 background: #00857c;
	 width: 100%;
	 float: left;
	 background: #00857c;
    width: 100%;
    float: left;
    padding: 16px 0;
    text-align: center;
    color: #fff;
   h1{font-size: 15px;
    font-weight: normal;
    margin: 5px 0px;}
    p{font-size: 12px;
    font-weight: normal;
    margin: 0;}
    }

 .profilepic{

    width: 120px;
    height: 120px;
    float: none;
    margin: 0 auto;
    position: relative;
    border-radius:50%;
    img{
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
    
    button.edit_btn{
        border-radius: 50%;
        padding: 0px;
        height: 36px !important;
        width: 36px;
        background-color: #fff;
        position: absolute;
        right: -15px;
        top: 50px;
        color: #000;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.box{
    	ion-item{

    		ion-toggle{
	
	  width: 44px;
    height: 20px;

    .toggle-icon{
    	
    	.toggle-inner{
    		    background-color: #fff;
    border: 1px solid #dadada;
    left: 4px;
    top: 0px;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    right: -9px;
    	}
    }
}

    		
    		padding: 0px !important;
    		.geo{
    			color: #8dbcb7 !important;
    		}
    	}
    }


.item-inner{border-bottom: none !important;
    
ion-label{font-weight: normal; color: #8d8d8d;}

 }
}

