page-termsofuse {

.toolbar-title{color:#02a499;font-size: 15px !important; font-weight: normal;}
	.back-button{color:#02a499;}

	.terms{
	h1{
	 color: #8d8d8d;
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
	}

	p{
            font-size: 14px;
            line-height: 23px;
           color: #8d8d8d;
       }

	}

}
