page-verify {

.toolbar-title{color:#02a499;font-size: 15px !important; font-weight: normal;}
	.back-button{color:#02a499;}


.form-sec{
			form{
				    margin: 0 0 20px 0;
				ion-list{
					margin:0px;
					ion-item{
						padding:0px;

						

						button{
							float: right;
							margin: 0px;
							background: none;
							box-shadow: none;
							color: #02a499;
							text-transform: capitalize;
						}
					}
				}
				button{
					margin:0px;
					border-radius:100px;
				}
			}
		}

}
